:root {
  --strong-cyan: hsl(172, 67%, 45%);

  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--strong-cyan);
  height: 100vh;
  font-family: 'Space Mono';
}

.app {
  width: 100%;
  background-color: var(--white);
  margin-top: 3em;
  border-radius: 1em;
  padding: 1em 1.5em;
}

.billing > * {
  margin-bottom: 1.2em;
}

.input {
  display: block;
  width: 100%;
  background-color: var(--very-light-grayish-cyan);
  border-radius: 0.4em;
  text-align: right;
  padding: 0.3em 0.6em;
  font-size: 1.1em;
  font-weight: 600;
  appearance: textfield;
}

.tip-amounts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.7em;
}

.btn-tip {
  background-color: var(--very-dark-cyan);
  color: var(--white);
  padding: 1em;
  border-radius: 0.5em;
  font: inherit;
}

.selected {
  background-color: var(--strong-cyan);
}

.label {
  margin-bottom: 0.5em;
  display: inline-block;
}

.amounts {
  margin-block: 2em;
  background-color: var(--very-dark-cyan);
  padding: 1em;
  border-radius: 0.5em;
  color: var(--light-grayish-cyan);
  padding: 2em;
}

.amount-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.btn-reset {
  width: 100%;
  background-color: var(--strong-cyan);
  color: var(--white);
  border-radius: 0.5em;
  padding-block: 1em;
}

.amount-title {
  color: var(--white);
  font-size: 1.3rem;
}

.per-person {
  font-size: 0.8rem;
  color: var(--light-grayish-cyan);
  margin-bottom: 1em;
  display: inline-block;
}

.amount {
  font-size: 2rem;
}
